.description {
  display: flex;
  gap: 20px;
}

.description>p {
  color: rgb(228,226,228);
  display: block;
  font-size: 20px;
}

.functional {
  margin-top: 0;
  display: flex;
  width: 20%;
}

.bodyNote{
  font-size: 18px;
  color: rgb(228,226,228);
  font-weight: 400;
}

.tag {
  margin-top: 30px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  color: rgb(33,209,255);
  font-weight: 600
}